body {
    font-family: 'Source Sans Pro', sans-serif;
}
.merriweather {
    font-family: 'Merriweather', serif;
}
.inter {
    font-family: 'Inter', sans-serif;
}
.garamond {
    font-family: 'EB Garamond', serif;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}